@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');


html{
    scroll-behavior: smooth;
}
:root{
    /* ---------------------Font---------------------- */
    --font-family-Advent:'Advent Pro',sans-serif;
    /* -----------------color mode-------------------- */
    --text-white: #000000;
    --bg-matin: #cc5641;
    --bg-midi: #35406d;
    --bg-soir: #202020;
    --text-darck-sec01: #fffae1;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    letter-spacing: 1px;
    font-family: var(--font-family-Advent);
    padding: 0;
    margin: 0;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
}
.iconeHome{
    position: relative;    
    width: 40px;
    height: auto;
}

nav ul li a{
    float: right;
    padding-right: 5px;
}
nav{
    height: 0;
    position: relative;
    display: block;
    text-decoration: none;
}
.toggle-image {
    cursor: pointer;
    transition: opacity 0.3s ease;
} 

.hidden {
    opacity: 0.2 !important;    
}


#reset-button {  
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    border-radius: 25px;
}

/* ------------------------Card---------------------- */
.title{
    padding-top: 5px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-darck-sec01);
    font-weight: bold;
    margin-top: 0px;
}
.cardeIndex{
    margin-top: 0;
    font-family: 'Advent Pro',sans-serif;
    padding: 0px 10px 50px 10px;
    background: linear-gradient(1deg,var(--bg-soir),var(--bg-midi),var(--bg-matin)) center center no-repeat;
    line-height: 1.4;
    height:100%;
    overflow-x: hidden;
}
.titleIdex{
    text-align: center;
    font-size: 1rem;
    color: var(--text-darck-sec01);
    font-weight: bold;
    margin-top: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1px;
}
.item{
    text-align: center;
    width:250px;
    height: 350px;
    border-radius: 45px 45px 20px 20px;
    margin: 30px 5px;
    background: linear-gradient(to bottom, transparent, #fff) ;
    box-shadow: 0 10px 15px #faf9f91a,0 5px 5px #ffffff1a ;
    transition: transform 0.3s;
    transform: translate3d(0,-1px,0);
    position: relative;
}
.item a{
    text-align: left;
}
.item:hover{
    transform: translate3d(0, -10px, 0) scale(1.05);
}
.item img{
    display: block;
    width: 100%;
    height: auto;
    border-radius:  15px 15px 0 0;
    transition:  0.3s ease;
}
.cardIndex{
    padding-bottom: 20px;
}
.item__body{
    padding: 20px;
}
.titreIndex{
    padding: 2px;
}
.item__title{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold ;
    color: #232323;
}

.item__description{
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 600;
}
.anim{
    position: relative;
}
.valide01{
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-image: url(./media/animation/animExploV.png);
    /* border: solid red 1px;*/
    position: absolute; 
    /* top:-75px;
    left: 140px; */
    top: 100%;
    left: 100%; 
    transform: translate(-50%,-50%);
}
.animValide{
    animation-timing-function: steps(28);
    animation-name: animValide;
    animation-duration:0.8s;
}
@keyframes animValide{
    from{background-position:left;}
    to{background-position:right;}
}